@font-face {
  font-family: "Caudex Bold";
  src: url(./src/assets/fonts/caudex/bold/Caudex-Bold.woff2) format("woff2"),
  url(./src/assets/fonts/caudex/bold/Caudex-Bold.woff) format("woff"),
  url(./src/assets/fonts/caudex/bold/Caudex-Bold.ttf) format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

//============================================================================

@font-face {
  font-family: "Catamaran Extra Bold";
  src: url(./src/assets/fonts/catamaran/extra-bold/Catamaran-ExtraBold.woff2) format("woff2"),
  url(./src/assets/fonts/catamaran/extra-bold/Catamaran-ExtraBold.woff) format("woff"),
  url(./src/assets/fonts/catamaran/extra-bold/Catamaran-ExtraBold.ttf) format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Catamaran Semi Bold";
  src: url(./src/assets/fonts/catamaran/semi-bold/Catamaran-SemiBold.woff2) format("woff2"),
  url(./src/assets/fonts/catamaran/semi-bold/Catamaran-SemiBold.woff) format("woff"),
  url(./src/assets/fonts/catamaran/semi-bold/Catamaran-SemiBold.ttf) format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Catamaran Medium";
  src: url(./src/assets/fonts/catamaran/medium/Catamaran-Medium.woff2) format("woff2"),
  url(./src/assets/fonts/catamaran/medium/Catamaran-Medium.woff) format("woff"),
  url(./src/assets/fonts/catamaran/medium/Catamaran-Medium.ttf) format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Catamaran Regular";
  src: url(./src/assets/fonts/catamaran/regular/Catamaran-Regular.woff2) format("woff2"),
  url(./src/assets/fonts/catamaran/regular/Catamaran-Regular.woff) format("woff"),
  url(./src/assets/fonts/catamaran/regular/Catamaran-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

//============================================================================

@font-face {
  font-family: "Orbitron Bold";
  src: url(./src/assets/fonts/orbitron/bold/Orbitron-Bold.woff2) format("woff2"),
  url(./src/assets/fonts/orbitron/bold/Orbitron-Bold.woff) format("woff"),
  url(./src/assets/fonts/orbitron/bold/Orbitron-Bold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Orbitron Medium";
  src: url(./src/assets/fonts/orbitron/medium/Orbitron-Medium.woff2) format("woff2"),
  url(./src/assets/fonts/orbitron/medium/Orbitron-Medium.woff) format("woff"),
  url(./src/assets/fonts/orbitron/medium/Orbitron-Medium.ttf) format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

//============================================================================


